* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

menu,
ol,
ul {
	list-style: none;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
}

input,
textarea,
select,
button {
	margin: 0;
	font: inherit;
}

a {
	text-decoration: none;
}
