.Sidebar {
	position: relative;
	height: calc(100vh - var(--height-nav-bar));
	background: var(--inverted-bg-color);

	width: var(--width-sidebar-full);
	transition: width 0.2s ease-in-out;
}

.switchers {
	display: flex;
	position: absolute;
	bottom: 20px;
	left: 50%;
	justify-content: center;

	transform: translateX(-50%);
}

.collapsed {
	width: var(--width-sidebar-small);
}
